node_modules
vendor
.env
.git
.gitignore
.gitattributes
*.md
README.md
.editorconfig
tests
.phpunit.result.cache
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
.vscode
.idea
.DS_Store